<nz-tree 
    #nzTreeComponent
    [nzData]="layerNodes" 
    nzBlockNode 
    nzCheckable 
    (nzClick)="onLeftClickNode($event)"
    (nzDblClick)="onDblClickNode($event);" 
    (nzCheckBoxChange)="onCheckedChange($event);"
    (nzContextMenu)="onRightClick($event);"
    [nzTreeTemplate]="nzTreeTemplate">
</nz-tree>
<ng-template #nzTreeTemplate let-node let-origin="origin">
    <span class="custom-node">
      <span *ngIf="!node.isLeaf">
        <span class="folder-name">{{ node.title }}</span>
      </span>
      <span *ngIf="node.isLeaf" class="leaf">
        <!-- <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i> -->
        <span class="folder-name">{{ node.title }}</span>
        <i title="参数调整" style="float: right;" nz-icon [nzIconfont]="'icon-epsgis-setting'" (click)="setting(node)"></i>
        <i title="缩放至" style="float: right;" nz-icon [nzIconfont]="'icon-epsgis-wodeweizhi1'" (click)="flyTo(node)"></i>

        <!-- <div *ngIf="node.isExpanded">
            <i nz-icon [nzIconfont]="'icon-epsgis-wodeweizhi1'" (click)="flyTo(node)"></i>
        </div> -->
      </span>
    </span>
</ng-template>